@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0%;
    padding: 0%;
}

nav {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
}

.logo-text {
    font-size: 28px;
    font-weight: 700;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-img {
    width: 30px;
    height: 30px;
    display: flex;
    margin-left: 30px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-right: 50px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.nav-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-color: #191A23;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 500;
}