@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0%;
    padding: 0%;
}

nav {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
}

.logo-text {
    font-size: 28px;
    font-weight: 700;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-img {
    width: 30px;
    height: 30px;
    display: flex;
    margin-left: 30px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-right: 50px;
    margin-left: 200px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.nav-btn {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: #191A23;
    border: 1px solid #191A23;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.hero {
    display: flex;
}

.hero-heading {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Space Grotesk", sans-serif;
    margin-left: 70px;
}

.hero-paragraph {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: "Space Grotesk", sans-serif;
    margin-left: 70px;
}

.hero-btn {
    padding: 15px 30px;
    background-color: #191A23;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin-left: 70px;
}

.hero-image > img {
    width: 550px;
    height: 450px;
    margin-left: 70px;
    margin-top: 55px;
}

.Company-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

.Company-logo > img {
    width: 120px;
    height: 50px;
}