body {
    margin-left: 100px;
    margin-right: 100px;
}

.Parent {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(6, 1fr);
    border: 2px solid black;
    padding: 10px;
    gap: 4px;
    transition: all 2s;
}

.Parent:hover{
  background-color: rgb(0, 38, 255);
}

.Child {
    background-color: rgb(231, 161, 30);
    display: grid;
    font-weight: 800;
    place-items: center;
    font-size: 30px;
    border: 2px solid black;
}

.Child-1 {
    grid-row: 1/13;
}
.Child-2 {
    grid-row: 1/7;
}
.Child-3 {
    grid-row: 7/13;
}
.Child-4 {
    grid-row: 1/5;
}
.Child-5 {
    grid-row: 5/9;
}
.Child-6 {
    grid-row: 9/13;
}
.Child-7 {
    grid-row: 1/4;
}
.Child-8 {
    grid-row: 4/7;
}
.Child-9 {
    grid-row: 7/10;
}
.Child-10 {
    grid-row: 10/13;
}
.Child-11 {
    grid-row: 1/3;
}
.Child-12 {
    grid-row: 3/5;
}
.Child-13 {
    grid-row: 5/7;
}
.Child-14 {
    grid-row: 7/9;
}
.Child-15 {
    grid-row: 9/11;
}
.Child-16 {
    grid-row: 11/13;
}
.Child-17 {
    grid-row: 1/2;
}
.Child-18 {
    grid-row: 2/3;
}
.Child-19 {
    grid-row: 3/4;
}
.Child-20 {
    grid-row: 4/5;
}
.Child-21 {
    grid-row: 5/6;
}
.Child-22 {
    grid-row: 6/7;
}
.Child-23 {
    grid-row: 7/8;
}
.Child-24 {
    grid-row: 8/9;
}
.Child-25 {
    grid-row: 9/10;
}
.Child-26 {
    grid-row: 10/11;
}
.Child-27 {
    grid-row: 11/12;
}
.Child-28 {
    grid-row: 12/13;
}